:root{
    --main-color-theme: #ffca40;
    --main-color-black: black;
    --main-color-white: white;
    --main-color-gray: gray;
    --main-color-pinchard: #ccc;
    --main-color-argile: #efefef;
    --main-color-Resene-All-Black: #181818;
}